
<ion-content>

  <ion-list lines="none">
    <ion-item></ion-item>
    <ion-item></ion-item>
    <ion-item></ion-item>
    <ion-item>
      <ion-input class="visor" [(ngModel)]="visor"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="visorResultado"></ion-input>
    </ion-item>

    <ion-item>
      <ion-fab-button class="op2" (click)="deletar()">
        AC
      </ion-fab-button>

      <ion-fab-button class="op2" (click)="negativo()">
        +/-
      </ion-fab-button>

      <ion-fab-button class="op2" (click)="porcetagem()">
        %
      </ion-fab-button>

      <ion-fab-button class="op1" [ngClass]="{ 'operacaoClick': ButtonClicked === 3 }" (click)="adicionarOperacao(3); isClicked(3)">
        ÷
      </ion-fab-button>
    </ion-item>

    <ion-item>
      <ion-fab-button (click)="adicionarNumero('7')">
        7
      </ion-fab-button>

      <ion-fab-button (click)="adicionarNumero('8')">
        8
      </ion-fab-button>

      <ion-fab-button (click)="adicionarNumero('9')">
        9
      </ion-fab-button>

      <ion-fab-button class="op1" [ngClass]="{ 'operacaoClick': ButtonClicked === 2 }" (click)="adicionarOperacao(2); isClicked(2)">
        x
      </ion-fab-button>
    </ion-item>

    <ion-item>
      <ion-fab-button (click)="adicionarNumero('4')">
        4
      </ion-fab-button>

      <ion-fab-button (click)="adicionarNumero('5')">
        5
      </ion-fab-button>

      <ion-fab-button (click)="adicionarNumero('6')">
        6
      </ion-fab-button>

      <ion-fab-button class="op1" [ngClass]="{ 'operacaoClick': ButtonClicked === 1 }" (click)="adicionarOperacao(1); isClicked(1);">
        -
      </ion-fab-button>
    </ion-item>

    <ion-item>
      <ion-fab-button (click)="adicionarNumero('1')">
        1
      </ion-fab-button>

      <ion-fab-button (click)="adicionarNumero('2')">
        2
      </ion-fab-button>

      <ion-fab-button (click)="adicionarNumero('3')">
        3
      </ion-fab-button>

      <ion-fab-button class="op1" [ngClass]="{ 'operacaoClick': ButtonClicked === 0 }" (click)="adicionarOperacao(0); isClicked(0)">
        +
      </ion-fab-button>
    </ion-item>

    <ion-item>
      <ion-button id="zero" (click)="adicionarNumero('0')">
        0
      </ion-button>

      <ion-fab-button (click)="adicionarNumero('.')">
        ,
      </ion-fab-button>

      <ion-fab-button class="op1" (click)="calcular()">
        =
      </ion-fab-button>
    </ion-item>

  </ion-list>

</ion-content>
